*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.main-title{
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-color: #FFF8F3;
    padding-top: 1px;
}
nav h2{
    font-weight: 800;
    font-size: 45px;
}
nav h2 span{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    display: inline;
    margin-left: 50px;
    border-radius: 5px;
}
.main-button{
    background-color:#FD6E0A;
    border: none;
    padding: 18px 35px; 
    color:#FFFFFF;
    font-size: large;
}

.banner{
    
    display: flex;
    align-items: center;
    
}
.discription{
    margin: 0 200px;
}

.banner-suptitle{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px; 
}
.banner-discription{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;

}
/* about section */
.about{
    text-align: center;
    
    margin:130 0px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 100px 150px;
}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}
.section-discription{
    color: #757575;
    text-align: justify;

}
.about-info-container{
    margin-top: 30px;
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.info-title{
    color: #757575;
}
.what-i-do>h3{
    margin-top: 150px;
}
.what-i-do>p{
    font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #757575;
max-width: 909px;
margin: 0 auto;
text-align: center;

}

.skill-container{
    display: flex;
    margin-top: 70px;
}

.skills{
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
.skill-title{

    margin: 20px;
}
.skill-discription{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    text-align: justify;
    padding: 5px;
}
.resume-item{
    margin: 30px auto;
    
}
.resume-content{
    display: flex;
    gap: 50px;
}

.resume .title{
    margin-bottom: 20px;
    
}
.resume .subtitle{
    font-weight: 600;
font-size: 20px;
color: #757575;
}
.resume .description{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #757575;
}
.download-cv{
    margin: 50px auto;
    text-align: center;
}
.contract{
    margin: 0;
    
    display: flex;
    gap: 40px;
    background-color: #FFF8F3;
    padding: 100px 150px;
    
}
.contract .section-title{
   
    text-align: left;
}
.contract input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding:18px 30px ;
}
.contract-description{
    margin-bottom: 50px;
}
.contract a{
    text-decoration: none;
    margin: 50px  20px;
}